html body {
  background-image: radial-gradient( white, lightblue, lightpink, lightgreen);
}

h1 {
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 75px
}

h2 {
  color: black;
  text-align: center;
  border-style: solid;
  border-radius: 200%;
  border-width: thick;
  border-color: white;
}

li{
  color: black;
  font-size: 25px;
}
img{
  width: 5%;
  opacity:
}
